*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
 
  --primary-color: #4CAF50; 
  --secondary-color: #8BC34A;    
  --text-color: #333333;        
  --text-light: #777777;      
  --bg-color: #FFFFFF;       
  --bg-light: #F4F4F4;
  --font-family: "Poppins", sans-serif;
  --font-size-base: 16px;
}
body{
 background-color: var(--secondary-color);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    
   
    margin: 200px auto;
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 3px 3px 25px green;

}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1rem;
    color: orange;
    width: 100%;
    
}
.inputArea{
    display: flex;
    
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}
.inputArea input{
    flex: 1;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: 2px solid orange;
    padding: 10px;
    box-shadow: 2px 2px 20px  red;
}
.inputArea input::placeholder{
    
    font-weight: 200;
}

.inputArea img{
    height: 35px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px red;
}
.listTodo{
    margin-top: 2em;
    overflow: hidden;
    width: 100%;

}
#lists li{
    list-style: none;
    width: 100%;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    align-content: center;
   display: flex;
   background-color: var(--bg-light);
   margin-bottom: 4px;
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    border: 2px solid orange; 
}
.delImg{
    height: 25px;
    margin-bottom: -4px;

}
.editIcon{
    height: 25px;
    margin-left: 4px;
}
.markComplete{
margin-left:auto;
height: 25px;
margin-bottom: -4px;



}
.msg{
    margin-top: 1em;
    color: white;
    margin-bottom: -10px;
}


.edit-input{
    height: 25px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;

}
